PyPDF2==3.0.1
pandas==1.5.2
matplotlib==3.6.2
openai==0.27.6
transformers==4.29.2
langchain==0.0.150
streamlit==1.22.0
streamlit_chat==0.0.2.2
streamlit_extras==0.2.7
pix2tex==0.1.2
Pillow==9.4.0
faiss-cpu==1.7.4
